<nav class="bg-gray-800 p-4 flex items-center justify-center gap-10">
    <div class="flex items-center">
      <img src="assets/logo.svg" alt="Logo" class="h-12">
    </div>
    <ul class="flex space-x-6">
      <li>
        <a routerLink="/"  class="text-white hover:text-yellow-400">Home</a>
      </li>
      <a routerLink="/web-dev" class="flex items-center text-white hover:text-yellow-400">
        Web-Dev
      </a>
      <li>
        <a routerLink="/random" class="text-white hover:text-yellow-400">Random</a>
      </li>
    </ul>
  </nav>
  