<nav class="bg-gray-800 p-4 flex items-center justify-center gap-10">
    <div class="flex items-center">
      <img src="assets/logo.svg" alt="Logo" class="h-12">
    </div>
    <ul class="flex space-x-6">
      <li>
        <a routerLink="/home" routerLinkActive="text-yellow-500" class="text-white hover:text-yellow-400">Home</a>
      </li>
      <li>
        <a routerLink="/services" routerLinkActive="text-yellow-500" class="text-white hover:text-yellow-400">Services</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="text-yellow-500" class="text-white hover:text-yellow-400">About</a>
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="text-yellow-500" class="text-white hover:text-yellow-400">Contact</a>
      </li>
    </ul>
  </nav>
  