<div class="p-4 bg-gray-950 text-white text-center min-h-screen">
    <h2 class="text-2xl font-bold mb-4">Choose what you want to know about</h2>
    
    <div class="grid grid-cols-2 gap-6 max-w-lg mx-auto">
      <!-- Angular -->
      <div class="p-4 border rounded-lg text-center hover:scale-95" (click)="goToRoute('/angular')">
        <i class="fab fa-angular text-4xl text-red-600 mb-2"></i>
        <h3 class="text-lg font-semibold">Angular</h3>
        <p class="text-sm mt-2">A few things i wish i knew while starting up Angular and other learning resources 🚀</p>
      </div>
  
  </div>
  