<div class="bg-gray-950 text-white min-h-screen flex flex-col px-6 lg:px-24 p-12"> 

    <!-- Angular Routing  -->
    <p class="mt-7 text-lg lg:text-4xl font-semibold max-w-3xl text-left">Routing in Angular</p>

    <article class="mt-10 text-xl">
        <p class="mb-6">Now from here on, I assume your are slowly getting the hang of the Angular structure and going further, it's gonna keep getting easier. Once you have got the structure, i recommend start making your own sample-app where you can practice all these things. Then you will have a perfect idea about the structure and it will be much easier going further. </p>
        <p class="mb-10">Routing in Angular is actually really simple even though it looks a bit heavy at first. Just a few steps to follow. Consider a component say 'web-dev' you have that you need to be displayed when '/web-dev' is clicked. You can do this in 3 simple steps.</p>
        <ul class="list-decimal list-inside">
            <li class="mb-6">Add the routing for that component in its respective routing-module.ts</li>
            <img src="assets/web-dev-routing.png" alt="" class="mb-6">
            <li class="mb-6">Make sure that exported routing module is there in the module.ts ( here, ApplicationRoutingModule )</li>
            <img src="assets/web-dev-routing-2.png" alt="" class="mb-6">
            <li class="mb-6">Now make sure this feature module is there in the main module ie. app.module.ts</li>
            <img src="assets/web-dev-routing-3.png" alt="" class="mb-6">
        </ul>
        <p class="mb-6">Now, you can use '/web-dev' in a-tags or as required to navigate to that component.</p>
        <p class="mb-6">What i basically did here was : First, I added the routing for the component in the routing-module.ts inside const routes. This is where we set the name of the routing and stuffy as required and also specify the component that needs to viewed in this syntax:</p>
        <pre class="bg-gray-800 text-white inline px-2 py-1 whitespace-nowrap">
            <code class="text-sm">
                {{'{path: \'your-path\', component:\'your-component\'},'}}
            </code>
          </pre>

        <p class="mb-6 mt-6">Once that is done, you just make sure that routing module is there in your feature module and this feature module is imported to your main module as well. Most of this is usually done by default when you generate a module/component but make sure it is there in that required structure.</p>
        <p class="mb-6">Also, one other thing that you need to remember is when defining a route, you only specify the route name like {{'{path: \'your-path\', component:\'your-component\'},'}} but when want to use that route, you have to use a forward slash like '/web-dev'. And since Angular is a one page application, we don't use href="/your-route" for component redirection, we use routerLink="/your-route".</p>
        <p class="mb-6">See, like i told you, it keeps getting simpler ;)</p>

    </article>



  <!-- Navigation -->

  <div class="flex justify-between items-center mt-10">
    <!-- Previous Link -->
    <p class="text-left cursor-pointer">
      <a class="text-blue-400 font-semibold text-2xl" (click)="goToRoute('/angular-3')">← Prev</a>
    </p>
  
    <!-- Next Link -->
    <p class="text-right cursor-pointer">
      <a class="text-blue-400 font-semibold text-2xl" (click)="goToRoute('/angular-5')">Next →</a>
    </p>
  </div>  
</div>
