<div class="bg-gray-950 text-white min-h-screen flex flex-col px-6 lg:px-24 p-12"> 

    <!-- Angular Routing  -->
    <p class="mt-7 text-lg lg:text-4xl font-semibold max-w-3xl text-left">Angular Routing</p>

    <article class="mt-10 text-xl">
        <p class="mb-6">Now from here on, I assume your are slowly getting the hang of the Angular structure and going further, it's gonna keep getting easier. Once you have got the structure, i recommend start making your own sample-app where you can practice all these things. Then you will have a perfect idea about the structure and it will be much easier going further. </p>
    </article>



  <!-- Navigation -->

  <div class="flex justify-between items-center mt-10">
    <!-- Previous Link -->
    <p class="text-left cursor-pointer">
      <a class="text-blue-400 font-semibold text-2xl" (click)="goToRoute('/angular-3')">← Prev</a>
    </p>
  
    <!-- Next Link -->
    <p class="text-right cursor-pointer">
      <a class="text-blue-400 font-semibold text-2xl" (click)="goToRoute('/angular-5')">Next →</a>
    </p>
  </div>  
</div>
