<div class="bg-gray-950 text-white min-h-screen flex flex-col px-6 lg:px-24 p-12"> 
    <p class="mt-7 text-lg lg:text-4xl font-semibold max-w-3xl text-left">Interpolation</p>



    <!-- Navigation -->

    <div class="flex justify-between items-center mt-10">
        <!-- Previous Link -->
        <p class="text-left cursor-pointer">
          <a class="text-blue-400 font-semibold text-2xl" (click)="goToRoute('/angular-4')">← Prev</a>
        </p>
      
        <!-- Next Link -->
        <p class="text-right cursor-pointer">
          <a class="text-blue-400 font-semibold text-2xl" (click)="goToRoute('/angular-6')">Next →</a>
        </p>
      </div>
</div>

