<div class="bg-gray-900 text-white min-h-screen flex flex-col items-center justify-center py-16 px-6 lg:px-24">
    <!-- Hero Section -->
    <header class="text-center mb-12">
      <h1 class="text-4xl lg:text-5xl font-bold mb-4">Welcome to CJ Blogs</h1>
      <p class="text-lg lg:text-xl mb-8">Get to know my views about stuff and maybe gain some knowledge along the way.</p>
      <a routerLink="/web-dev" class="bg-yellow-500 text-gray-900 px-6 py-3 rounded-lg hover:bg-yellow-600">Get Started</a>
    </header>
  
    <!-- Features Section -->
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 max-w-4xl mx-auto">
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg flex flex-col text-center cursor-pointer" (click)="goToRoute('https://aaronchrisjoanil.vercel.app/')">
        <h2 class="text-2xl font-semibold mb-4">My Portfolio</h2>
        <a class="text-5xl text-center">🗃️</a>
      </div>
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg flex flex-col text-center cursor-pointer" (click)="goToRoute('https://github.com/aaronchrisjo')">
        <h2 class="text-2xl font-semibold mb-4">My Github</h2>
        <a class="text-5xl text-center">
          <i class="fab fa-github"></i>
        </a>
      </div>      
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg flex flex-col text-center cursor-pointer" (click)="goToRoute('https://www.linkedin.com/in/aaronchrisjo/')">
        <h2 class="text-2xl font-semibold mb-4">My Linkedin</h2>
        <a class="text-5xl text-center">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>    
    </section>
  </div>
  