<div class="bg-gray-950 text-white min-h-screen flex flex-col px-6 lg:px-24 p-12">

    <!-- Angular Components -->
    <p class="mt-7 text-lg lg:text-4xl font-semibold max-w-3xl text-left"> 
        Angular Components
    </p>
    <article class="mt-10 text-xl">
        <p class="mb-6">Components are the basic building blocks of an Angular application. Everything you code will be mostly inside a component. Say, you wanna make an About page, you will generate a component that has the content you need in about and in that component itself you will handle the necessary functions needed for a that page.</p>
        <p class="mb-6">Let us start by generating a component. To generate a component, use :</p>
        <pre class="bg-gray-800 text-white inline px-2 py-1 whitespace-nowrap">
            <code class="text-sm">
              ng generate component component-name
            </code>
          </pre>
          <p class="mt-6 mb-6">Now once you have generated this, you get a component as a folder with 5 parts in it.</p>
    </article>



    <!-- Angular Modules -->
    <p class="mt-7 text-lg lg:text-4xl font-semibold max-w-3xl text-left"> 
        Angular Modules
    </p>
    <article class="mt-10 text-xl">
        <p class="mb-6">So once you have created / started your application,  we can start with understanding what modules are.</p>
        <p class="mb-6">Modules is what that gives a structure to your application. Think </p>
    </article>

</div>