<div class="bg-gray-950 text-white min-h-screen flex flex-col px-6 lg:px-24 p-12">

    <!-- Angular Components -->
    <p class="mt-7 text-lg lg:text-4xl font-semibold max-w-3xl text-left"> 
        Angular Components
    </p>
    <article class="mt-10 text-xl">
        <p class="mb-6">Components are the basic building blocks of an Angular application. Everything you code will be mostly inside a component. Say, you wanna make an About page, you will generate a component that has the content you need in about and in that component itself you will handle the necessary functions needed for a that page.</p>
        <p class="mb-6">Let us start by generating a component. To generate a component, use :</p>
        <pre class="bg-gray-800 text-white inline px-2 py-1 whitespace-nowrap">
            <code class="text-sm">
              ng generate component component-name
            </code>
          </pre>
          <p class="mt-6 mb-6">Now once you have generated this, you get a component as a folder with 4 parts in it :</p>
          <ul class="list-disc list-inside mb-6">
            <li>you-component.component.css</li>
            <li>your-component.component.html</li>
            <li>your-component.component.spec.ts</li>
            <li>your-component.component.ts</li>
          </ul>
          <ul class="list-decimal list-inside">
            <li class="text-2xl">your-component.component.css</li>
            <p class="mb-6 mt-6">Here, you can add the css elements you need for your component. Anything css you need for that specific components other than inline css like <a href="https://tailwindcss.com/" target="_blank" class="text-blue-200">tailwind css</a> goes here. This part of the structure is similar to the styles.css file you make in a regular html/css project.</p>
            <p class="mb-6">Example :</p>
            <img src="assets/css-code-snippet.png" alt="">

            <li class="text-2xl mt-6">your-component.component.html</li>
            <p class="mb-6 mt-6">Here, </p>
          </ul>
    </article>







    <!-- Navigation -->

    <div class="flex justify-between items-center mt-10">
        <!-- Previous Link -->
        <p class="text-left cursor-pointer">
          <a class="text-blue-400 font-semibold text-2xl" (click)="goToRoute('/angular')">← Prev</a>
        </p>
      
        <!-- Next Link -->
        <p class="text-right cursor-pointer">
          <a class="text-blue-400 font-semibold text-2xl" (click)="goToRoute('/angular-3')">Next →</a>
        </p>
      </div>
      
</div>