<div class="bg-gray-950 text-white min-h-screen flex flex-col px-6 lg:px-64 p-12"> 
    <p class="mt-7 text-lg lg:text-4xl font-semibold max-w-3xl text-left" id="other">Other imprtant topics</p>
    <article class="mt-10 text-xl">
        <p class="mb-6">Now i have talked about almost all the core topics that i feel might be a little overwhelming to people new to Angular. I am also not expert enough to give a full proper course either. But i will provide ya'll with good links and topics you must go through so that you can call yourself an Angular dev. These are not advanced topics, just things that you need.</p>
        <p class="mb-6">If any of you need me to add any of these topics in my POV, do let me know and i'll look into it.</p>

        <ul class="list-decimal list-inside">
          <li class="mb-6 text-blue-400"><a href="https://www.tektutorialshub.com/angular/angular-forms-fundamentals/#google_vignette" target="_blank">Form Groups & Form Control</a></li>
          <li class="mb-6 text-blue-400"><a href="https://www.tektutorialshub.com/angular/angular-pipes/" target="_blank">Pipes</a></li>
          <li class="mb-6 text-blue-400"><a href="https://www.tektutorialshub.com/angular/angular-route-guards/" target="_blank">Router Guard</a></li>
          <li class="mb-6 text-blue-400"><a href="https://www.tektutorialshub.com/angular/angular-lazy-loading/" target="_blank">Lazy Loading</a></li>
          <li class="mb-6 text-blue-400"><a href="https://www.tektutorialshub.com/angular/angular-httpclient/" target="_blank">HTTP Client</a></li>
          <li class="mb-6 text-blue-400"><a href="https://www.tektutorialshub.com/angular/angular-observable-tutorial-using-rxjs/" target="_blank">Observables</a></li>
          <li class="mb-6 text-blue-400"><a href="https://courses.bigbinaryacademy.com/learn-javascript/promises/callback-functions/" target="_blank">Promises</a></li>
        </ul>

        <p class="mt-6 mb-28">Best way to learn is by doing only. So do as many small projects as you can and keep upskilling yourself.Check out my projects (which are not much) for reference and use all available free resources. Also feel free to hmu if need some help.</p>
        <p class="mb-6 text-2xl text-center font-bold"> Good Luck !😄</p>
    </article>



    <!-- Navigation -->

    <div class="flex justify-between items-center mt-10">
        <!-- Previous Link -->
        <p class="text-left cursor-pointer">
          <a class="text-blue-400 font-semibold text-2xl" (click)="goToRoute('/angular-7')">← Prev</a>
        </p>
    </div>
</div>
