<div class="bg-gray-950 text-white min-h-screen flex flex-col px-6 lg:px-64 p-12"> 
    <p class="mt-7 text-lg lg:text-4xl font-semibold max-w-3xl text-left"></p>
    <article class="mt-10 text-xl">
        <p class="mb-6">        </p>
        <p class="mb-6">        </p>
    </article>



    <!-- Navigation -->

    <div class="flex justify-between items-center mt-10">
        <!-- Previous Link -->
        <p class="text-left cursor-pointer">
          <a class="text-blue-400 font-semibold text-2xl" (click)="goToRoute('/angular-7')">← Prev</a>
        </p>
      
        <!-- Next Link -->
        <p class="text-right cursor-pointer">
          <a class="text-blue-400 font-semibold text-2xl" (click)="goToRoute('/angular-9')">Next →</a>
        </p>
      </div>
</div>
