<div class="bg-gray-950 text-white min-h-screen flex flex-col px-6 lg:px-24 p-12"> 
    <p id="services" class="mt-7 text-lg lg:text-4xl font-semibold max-w-3xl text-left">Angular Services & Dependency Injection</p>
    <article class="mt-10 text-xl">
        <p class="mb-6">This is a really important and cool topic. A core feature of Angular. Best way to explain this is with an example of Authentication. Now when we want to implement authentication, there are a set of function you need to implement to make this possible</p>
    </article>



    <!-- Navigation -->

    <div class="flex justify-between items-center mt-10">
        <!-- Previous Link -->
        <p class="text-left cursor-pointer">
          <a class="text-blue-400 font-semibold text-2xl" (click)="goToRoute('/angular-6')">← Prev</a>
        </p>
      
        <!-- Next Link -->
        <p class="text-right cursor-pointer">
          <a class="text-blue-400 font-semibold text-2xl" (click)="goToRoute('/angular-8')">Next →</a>
        </p>
      </div>
</div>
