<div class="bg-gray-950 text-white min-h-screen flex flex-col px-6 lg:px-24 p-12">
    <!-- Angular Modules -->
    <p class="mt-7 text-lg lg:text-4xl font-semibold max-w-3xl text-left"> 
        Angular Modules
    </p>
    <article class="mt-10 text-xl">
        <p class="mb-6">So once you have created / started your application,  we can start with understanding what modules are.</p>
        <p class="mb-6">Modules is what that gives a structure to your application. Think </p>
    </article>


    <!-- Navigation -->

    <div class="flex justify-between items-center mt-10">
        <!-- Previous Link -->
        <p class="text-left cursor-pointer">
          <a class="text-blue-400 font-semibold text-2xl" (click)="goToRoute('/angular-2')">← Prev</a>
        </p>
      
        <!-- Next Link -->
        <p class="text-right cursor-pointer">
          <a class="text-blue-400 font-semibold text-2xl" (click)="goToRoute('/angular-4')">Next →</a>
        </p>
      </div>
</div>

